In [36]:
#Importar pandas y cargar el archivo CSV
import pandas as pd

df = pd.read_csv(r'C:\Users\dschu\OneDrive\Documentos\CursoCienciasDeDatos\M3\s4\ventas.csv')
print(df)

    Cliente_ID      Nombre    Categoría  Cantidad  Precio      Método de Pago  \
0         1001   Cliente_1  Electrónica         2   45.50              PayPal
1         1002   Cliente_2         Moda         1   30.00  Tarjeta de Crédito
2         1003   Cliente_3        Hogar         3   25.75            Efectivo
3         1004   Cliente_4     Deportes         4   50.00  Tarjeta de Crédito
4         1005   Cliente_5          NaN         2   40.00              PayPal
5         1006   Cliente_6  Electrónica         6   75.25            Efectivo
6         1007   Cliente_7  Electrónica        50   90.00  Tarjeta de Crédito
7         1008   Cliente_8     Deportes        60   85.00            Efectivo
8         1009   Cliente_9         Moda         5   32.50              PayPal
9         1010  Cliente_10        Hogar         7   95.00            Efectivo
10        1011  Cliente_11         Moda         3     NaN            Efectivo
11        1005   Cliente_5          NaN         2   40.00              PayPal
12        1007   Cliente_7  Electrónica        50   90.00  Tarjeta de Crédito

         Fecha
0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
7   2024-01-08
8   2024-01-09
9   2024-01-10
10  2024-01-11
11  2024-01-05
12  2024-01-07

In [37]:
# Análisis inicial del DataFrame
print(df.info())
print('--------------------------------')
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cliente_ID      13 non-null     int64
 1   Nombre          13 non-null     object
 2   Categoría       11 non-null     object
 3   Cantidad        13 non-null     int64
 4   Precio          12 non-null     float64
 5   Método de Pago  13 non-null     object
 6   Fecha           13 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 860.0+ bytes
None
--------------------------------
       Cliente_ID   Cantidad     Precio
count    13.00000  13.000000  12.000000
mean   1006.00000  15.000000  58.250000
std       3.05505  22.045408  26.603785
min    1001.00000   1.000000  25.750000
25%    1004.00000   2.000000  38.125000
50%    1006.00000   4.000000  47.750000
75%    1008.00000   7.000000  86.250000
max    1011.00000  60.000000  95.000000

In [38]:
# Revisar duplicados y valores nulos
print(df.duplicated())
print(df.isna().sum())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
dtype: bool
Cliente_ID        0
Nombre            0
Categoría         2
Cantidad          0
Precio            1
Método de Pago    0
Fecha             0
dtype: int64

In [39]:
df_sin_duplicados = df.drop_duplicates()
print(df_sin_duplicados)

    Cliente_ID      Nombre    Categoría  Cantidad  Precio      Método de Pago  \
0         1001   Cliente_1  Electrónica         2   45.50              PayPal
1         1002   Cliente_2         Moda         1   30.00  Tarjeta de Crédito
2         1003   Cliente_3        Hogar         3   25.75            Efectivo
3         1004   Cliente_4     Deportes         4   50.00  Tarjeta de Crédito
4         1005   Cliente_5          NaN         2   40.00              PayPal
5         1006   Cliente_6  Electrónica         6   75.25            Efectivo
6         1007   Cliente_7  Electrónica        50   90.00  Tarjeta de Crédito
7         1008   Cliente_8     Deportes        60   85.00            Efectivo
8         1009   Cliente_9         Moda         5   32.50              PayPal
9         1010  Cliente_10        Hogar         7   95.00            Efectivo
10        1011  Cliente_11         Moda         3     NaN            Efectivo

         Fecha
0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
7   2024-01-08
8   2024-01-09
9   2024-01-10
10  2024-01-11

In [ ]:
# Rellenar los valores nulos en la columna 'Precio' con la media de la columna
df_sin_duplicados['Precio'].fillna(df.Precio.mean(), inplace=True)
print(df_sin_duplicados)

C:\Users\dschu\AppData\Local\Temp\ipykernel_28776\3851231412.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sin_duplicados['Precio'].fillna(df.Precio.mean(), inplace=True)
C:\Users\dschu\AppData\Local\Temp\ipykernel_28776\3851231412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sin_duplicados['Precio'].fillna(df.Precio.mean(), inplace=True)

,Cliente_ID,Nombre,Categoría,Cantidad,Precio,Método de Pago,Fecha
0,1001,Cliente_1,Electrónica,2,45.50,PayPal,2024-01-01
1,1002,Cliente_2,Moda,1,30.00,Tarjeta de Crédito,2024-01-02
2,1003,Cliente_3,Hogar,3,25.75,Efectivo,2024-01-03
3,1004,Cliente_4,Deportes,4,50.00,Tarjeta de Crédito,2024-01-04
4,1005,Cliente_5,NaN,2,40.00,PayPal,2024-01-05
5,1006,Cliente_6,Electrónica,6,75.25,Efectivo,2024-01-06
6,1007,Cliente_7,Electrónica,50,90.00,Tarjeta de Crédito,2024-01-07
7,1008,Cliente_8,Deportes,60,85.00,Efectivo,2024-01-08
8,1009,Cliente_9,Moda,5,32.50,PayPal,2024-01-09
9,1010,Cliente_10,Hogar,7,95.00,Efectivo,2024-01-10
10,1011,Cliente_11,Moda,3,58.25,Efectivo,2024-01-11

In [28]:
# Eliminar filas con valores nulos en cualquier columna
df_final = df_sin_duplicados.dropna()

In [29]:
# Restablecer el índice después de eliminar filas
df_final.reset_index(drop=True, inplace=True)

In [30]:
#Mostrar el DataFrame limpio
print(df_final)

   Cliente_ID      Nombre    Categoría  Cantidad  Precio      Método de Pago  \
0        1001   Cliente_1  Electrónica         2   45.50              PayPal
1        1002   Cliente_2         Moda         1   30.00  Tarjeta de Crédito
2        1003   Cliente_3        Hogar         3   25.75            Efectivo
3        1004   Cliente_4     Deportes         4   50.00  Tarjeta de Crédito
4        1006   Cliente_6  Electrónica         6   75.25            Efectivo
5        1007   Cliente_7  Electrónica        50   90.00  Tarjeta de Crédito
6        1008   Cliente_8     Deportes        60   85.00            Efectivo
7        1009   Cliente_9         Moda         5   32.50              PayPal
8        1010  Cliente_10        Hogar         7   95.00            Efectivo
9        1011  Cliente_11         Moda         3   58.25            Efectivo

        Fecha
0  2024-01-01
1  2024-01-02
2  2024-01-03
3  2024-01-04
4  2024-01-06
5  2024-01-07
6  2024-01-08
7  2024-01-09
8  2024-01-10
9  2024-01-11

In [31]:
# Calcular los límites para detectar outliers en la columna 'Cantidad' usando el rango intercuartílico (IQR)
Q1 = df_final['Cantidad'].quantile(0.25)
Q3 = df_final['Cantidad'].quantile(0.75)
IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

outliers = df_final[(df_final['Cantidad'] < limite_inferior) | (df_final['Cantidad'] > limite_superior)]

In [32]:
#Mostrar los outliers detectados
print(outliers)

   Cliente_ID     Nombre    Categoría  Cantidad  Precio      Método de Pago  \
5        1007  Cliente_7  Electrónica        50    90.0  Tarjeta de Crédito
6        1008  Cliente_8     Deportes        60    85.0            Efectivo

        Fecha
5  2024-01-07
6  2024-01-08

In [33]:
# Corregir manualmente los valores de 'Cantidad' en las filas 5 y 6
df_final.loc[[5, 6], 'Cantidad'] = [5, 6]

In [34]:
# Mostrar el DataFrame final con los outliers corregidos
print(df_final)

   Cliente_ID      Nombre    Categoría  Cantidad  Precio      Método de Pago  \
0        1001   Cliente_1  Electrónica         2   45.50              PayPal
1        1002   Cliente_2         Moda         1   30.00  Tarjeta de Crédito
2        1003   Cliente_3        Hogar         3   25.75            Efectivo
3        1004   Cliente_4     Deportes         4   50.00  Tarjeta de Crédito
4        1006   Cliente_6  Electrónica         6   75.25            Efectivo
5        1007   Cliente_7  Electrónica         5   90.00  Tarjeta de Crédito
6        1008   Cliente_8     Deportes         6   85.00            Efectivo
7        1009   Cliente_9         Moda         5   32.50              PayPal
8        1010  Cliente_10        Hogar         7   95.00            Efectivo
9        1011  Cliente_11         Moda         3   58.25            Efectivo

        Fecha
0  2024-01-01
1  2024-01-02
2  2024-01-03
3  2024-01-04
4  2024-01-06
5  2024-01-07
6  2024-01-08
7  2024-01-09
8  2024-01-10
9  2024-01-11

In [20]:
#Guardando el DataFrame limpio en un nuevo archivo CSV
df_final.to_csv(r'C:\Users\dschu\OneDrive\Documentos\CursoCienciasDeDatos\M3\s4\ventas_limpio.csv', index=False)